.write {
  height: calc(100vh - 60px);
}

.writeImg {
  margin-top: 2rem;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  width: 70vw;
  height: 100vh;
  font-family: inherit;
  font-size: 20px;
}

.writeSubmit {
  width: 100px;
  padding: 10px 20px;
  border: none;
  background-color: teal;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
  font-size: 16px;
  transition: all 0.3s ease;
}

.writeSubmit:hover {
  transform: scale(1.07);
}
@media only screen and (max-width: 600px) {
  .writeImg {
    height: 30vh;
    margin-top: 10px;
  }

  .writeInput {
    font-size: 24px;
  }

  .writeText {
    margin: 0px 0px 16px 0px;
    font-size: 18px;
  }
  .writeText {
    height: 30vh;
  }

  .writeSubmit {
    padding: 5px 10px;
  }
}
