.header {
  margin-top: 100px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: rgb(250, 4, 4);
}

/*Header Title Position*/
.headerTitleLg {
  position: absolute;
  top: 10%;
  font-size: 100px;
}

/*Header Image Size and Position*/
.headerImg {
  width: 100%;
  height: 480px;
  margin-top: 80px;
  object-fit: cover;
}
