.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topCenter {
  flex: 6;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topListItem:hover {
  color: gray;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .topCenter {
    padding: 0;
    margin: 0;
  }
  .topListItem {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
  }

  .topImg {
    width: 20px;
    height: 20px;
    margin: 0;
  }
}

@media only screen and (max-width: 425px) {
  .topCenter {
    padding-left: 0px;
  }
  .topListItem {
    margin-right: 8px;
    font-size: 13px;
  }
}

@media screen and (max-width: 600px) {
  .topLeft {
    display: none;
  }
  .topCenter {
    flex: 2;
    padding: 0px 16px;
    margin-left: 25px;
  }

  .topRight {
    flex: 1.5;
    align-items: center;
    justify-content: center;
  }

  .topImg {
    width: 30px;
    height: 30px;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .topLeftWrapper {
    margin-left: 16px;
    margin-right: 0px;
  }
  .topIcon {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 953px) {
  .topLeftWrapper {
    margin-left: 25px;
    margin-right: 0px;
  }
  .topIcon {
    margin-right: 16px;
  }
}
