.sidebar {
  flex: 2;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: solid 1px #a7a4a4;
  border-bottom: solid 1px #a7a4a4;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #222222;
  font-weight: 600;
}

.addIcon {
  width: 15px;
  height: 15px;
  font-size: 15px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(247, 97, 11);
  cursor: pointer;
  margin-right: 8px;
}

.sidebarList {
  list-style-type: none;
  margin-bottom: 30px;
}

/*inline-block:the list arrange in horizontal */
.sidebarListItem {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarListItem :first-child {
  color: teal;
}
.sidebarListItem :nth-child(2) {
  color: tomato;
}
.catIcon {
  margin-left: 5px;
}
.link {
  margin-left: 8px;
}
.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .sidebarSocial {
    margin: 0px;
  }
}
